@media only screen and (max-width: 390px) {
  .paymentContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .paymentTotal {
    margin-right: 30px;
    font-weight: bold;
  }
  .paymentBtn {
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 30px;
    width: 140px;
    height: 30px;
    background: #0361e4;
    color: #ffff;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
  }
}
@media only screen and (max-width: 420px) {
  .paymentContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .paymentTotal {
    margin-right: 30px;
    font-weight: bold;
  }
  .paymentBtn {
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 30px;
    width: 140px;
    height: 30px;
    background: #0361e4;
    color: #ffff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
  }
}
@media only screen and (max-width: 768px) {
  .paymentContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .paymentTotal {
    margin-right: 30px;
    font-weight: bold;
  }
  .paymentBtn {
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 30px;
    width: 140px;
    height: 30px;
    background: #0361e4;
    color: #ffff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
  }
}
@media only screen and (min-width: 769px) {
  .paymentContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .paymentTotal {
    margin-right: 30px;
    font-weight: bold;
  }
  .paymentBtn {
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 30px;
    width: 140px;
    height: 30px;
    background: #0361e4;
    color: #ffff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
  }
}